(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          v1.1
          (Let
            _.2
            (If
              (Let
                $tmp.1
                (GlobalVal free_ptr)
                (Let
                  $tmp.2
                  (Prim Add ((Var $tmp.1) (Int 16)))
                  (Let
                    $tmp.3
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
              (Atm Void)
              (Collect 16))
            (Let
              $ea.1
              (Allocate 1 (Vector (Integer)))
              (Let
                _.1
                (VecSet (Var $ea.1) 0 (Int 1))
                (Atm (Var $ea.1)))))
          (Let
            v2.1
            (Let
              _.4
              (If
                (Let
                  $tmp.4
                  (GlobalVal free_ptr)
                  (Let
                    $tmp.5
                    (Prim Add ((Var $tmp.4) (Int 16)))
                    (Let
                      $tmp.6
                      (GlobalVal fromspace_end)
                      (Prim Lt ((Var $tmp.5) (Var $tmp.6))))))
                (Atm Void)
                (Collect 16))
              (Let
                $ea.2
                (Allocate 1 (Vector (Integer)))
                (Let
                  _.3
                  (VecSet (Var $ea.2) 0 (Int 1))
                  (Atm (Var $ea.2)))))
            (Let
              v3.1
              (Let
                _.6
                (If
                  (Let
                    $tmp.7
                    (GlobalVal free_ptr)
                    (Let
                      $tmp.8
                      (Prim Add ((Var $tmp.7) (Int 16)))
                      (Let
                        $tmp.9
                        (GlobalVal fromspace_end)
                        (Prim Lt ((Var $tmp.8) (Var $tmp.9))))))
                  (Atm Void)
                  (Collect 16))
                (Let
                  $ea.3
                  (Allocate 1 (Vector (Integer)))
                  (Let
                    _.5
                    (VecSet (Var $ea.3) 0 (Int 1))
                    (Atm (Var $ea.3)))))
              (Let
                v4.1
                (Let
                  _.8
                  (If
                    (Let
                      $tmp.10
                      (GlobalVal free_ptr)
                      (Let
                        $tmp.11
                        (Prim Add ((Var $tmp.10) (Int 16)))
                        (Let
                          $tmp.12
                          (GlobalVal fromspace_end)
                          (Prim Lt ((Var $tmp.11) (Var $tmp.12))))))
                    (Atm Void)
                    (Collect 16))
                  (Let
                    $ea.4
                    (Allocate 1 (Vector (Integer)))
                    (Let
                      _.7
                      (VecSet (Var $ea.4) 0 (Int 1))
                      (Atm (Var $ea.4)))))
                (Let
                  v5.1
                  (Let
                    _.10
                    (If
                      (Let
                        $tmp.13
                        (GlobalVal free_ptr)
                        (Let
                          $tmp.14
                          (Prim Add ((Var $tmp.13) (Int 16)))
                          (Let
                            $tmp.15
                            (GlobalVal fromspace_end)
                            (Prim Lt ((Var $tmp.14) (Var $tmp.15))))))
                      (Atm Void)
                      (Collect 16))
                    (Let
                      $ea.5
                      (Allocate 1 (Vector (Integer)))
                      (Let
                        _.9
                        (VecSet (Var $ea.5) 0 (Int 1))
                        (Atm (Var $ea.5)))))
                  (Let
                    v6.1
                    (Let
                      _.12
                      (If
                        (Let
                          $tmp.16
                          (GlobalVal free_ptr)
                          (Let
                            $tmp.17
                            (Prim Add ((Var $tmp.16) (Int 16)))
                            (Let
                              $tmp.18
                              (GlobalVal fromspace_end)
                              (Prim Lt ((Var $tmp.17) (Var $tmp.18))))))
                        (Atm Void)
                        (Collect 16))
                      (Let
                        $ea.6
                        (Allocate 1 (Vector (Integer)))
                        (Let
                          _.11
                          (VecSet (Var $ea.6) 0 (Int 1))
                          (Atm (Var $ea.6)))))
                    (Let
                      v7.1
                      (Let
                        _.14
                        (If
                          (Let
                            $tmp.19
                            (GlobalVal free_ptr)
                            (Let
                              $tmp.20
                              (Prim Add ((Var $tmp.19) (Int 16)))
                              (Let
                                $tmp.21
                                (GlobalVal fromspace_end)
                                (Prim Lt ((Var $tmp.20) (Var $tmp.21))))))
                          (Atm Void)
                          (Collect 16))
                        (Let
                          $ea.7
                          (Allocate 1 (Vector (Integer)))
                          (Let
                            _.13
                            (VecSet (Var $ea.7) 0 (Int 1))
                            (Atm (Var $ea.7)))))
                      (Let
                        v8.1
                        (Let
                          _.16
                          (If
                            (Let
                              $tmp.22
                              (GlobalVal free_ptr)
                              (Let
                                $tmp.23
                                (Prim Add ((Var $tmp.22) (Int 16)))
                                (Let
                                  $tmp.24
                                  (GlobalVal fromspace_end)
                                  (Prim Lt ((Var $tmp.23) (Var $tmp.24))))))
                            (Atm Void)
                            (Collect 16))
                          (Let
                            $ea.8
                            (Allocate 1 (Vector (Integer)))
                            (Let
                              _.15
                              (VecSet (Var $ea.8) 0 (Int 1))
                              (Atm (Var $ea.8)))))
                        (Let
                          v9.1
                          (Let
                            _.18
                            (If
                              (Let
                                $tmp.25
                                (GlobalVal free_ptr)
                                (Let
                                  $tmp.26
                                  (Prim Add ((Var $tmp.25) (Int 16)))
                                  (Let
                                    $tmp.27
                                    (GlobalVal fromspace_end)
                                    (Prim Lt ((Var $tmp.26) (Var $tmp.27))))))
                              (Atm Void)
                              (Collect 16))
                            (Let
                              $ea.9
                              (Allocate 1 (Vector (Integer)))
                              (Let
                                _.17
                                (VecSet (Var $ea.9) 0 (Int 1))
                                (Atm (Var $ea.9)))))
                          (Let
                            v10.1
                            (Let
                              _.20
                              (If
                                (Let
                                  $tmp.28
                                  (GlobalVal free_ptr)
                                  (Let
                                    $tmp.29
                                    (Prim Add ((Var $tmp.28) (Int 16)))
                                    (Let
                                      $tmp.30
                                      (GlobalVal fromspace_end)
                                      (Prim Lt ((Var $tmp.29) (Var $tmp.30))))))
                                (Atm Void)
                                (Collect 16))
                              (Let
                                $ea.10
                                (Allocate 1 (Vector (Integer)))
                                (Let
                                  _.19
                                  (VecSet (Var $ea.10) 0 (Int 1))
                                  (Atm (Var $ea.10)))))
                            (Let
                              y.1
                              (Let
                                $tmp.31
                                (FunRef (Label g) 1)
                                (Apply (Var $tmp.31) ((Int 1000))))
                              (Let
                                $tmp.32
                                (Prim Add ((Int 32) (Var y.1)))
                                (Let
                                  $tmp.33
                                  (VecRef (Var v1.1) 0)
                                  (Let
                                    $tmp.34
                                    (VecRef (Var v2.1) 0)
                                    (Let
                                      $tmp.35
                                      (VecRef (Var v3.1) 0)
                                      (Let
                                        $tmp.36
                                        (VecRef (Var v4.1) 0)
                                        (Let
                                          $tmp.37
                                          (VecRef (Var v5.1) 0)
                                          (Let
                                            $tmp.38
                                            (VecRef (Var v6.1) 0)
                                            (Let
                                              $tmp.39
                                              (VecRef (Var v7.1) 0)
                                              (Let
                                                $tmp.40
                                                (VecRef (Var v8.1) 0)
                                                (Let
                                                  $tmp.41
                                                  (VecRef (Var v9.1) 0)
                                                  (Let
                                                    $tmp.42
                                                    (VecRef (Var v10.1) 0)
                                                    (Let
                                                      $tmp.43
                                                      (Prim Add ((Var $tmp.41) (Var $tmp.42)))
                                                      (Let
                                                        $tmp.44
                                                        (Prim Add ((Var $tmp.40) (Var $tmp.43)))
                                                        (Let
                                                          $tmp.45
                                                          (Prim Add ((Var $tmp.39) (Var $tmp.44)))
                                                          (Let
                                                            $tmp.46
                                                            (Prim Add ((Var $tmp.38) (Var $tmp.45)))
                                                            (Let
                                                              $tmp.47
                                                              (Prim Add ((Var $tmp.37) (Var $tmp.46)))
                                                              (Let
                                                                $tmp.48
                                                                (Prim Add ((Var $tmp.36) (Var $tmp.47)))
                                                                (Let
                                                                  $tmp.49
                                                                  (Prim Add ((Var $tmp.35) (Var $tmp.48)))
                                                                  (Let
                                                                    $tmp.50
                                                                    (Prim Add ((Var $tmp.34) (Var $tmp.49)))
                                                                    (Let
                                                                      $tmp.51
                                                                      (Prim Add ((Var $tmp.33) (Var $tmp.50)))
                                                                      (Prim Add ((Var $tmp.32) (Var $tmp.51)))))))))))))))))))))))))))))))))))))
   (Def
     (Label g)
     ((args ((x.1 Integer)))
      (ret Integer)
      (body
        (Let
          v.1
          (Let
            _.22
            (If
              (Let
                $tmp.52
                (GlobalVal free_ptr)
                (Let
                  $tmp.53
                  (Prim Add ((Var $tmp.52) (Int 16)))
                  (Let
                    $tmp.54
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.53) (Var $tmp.54))))))
              (Atm Void)
              (Collect 16))
            (Let
              $ea.11
              (Allocate 1 (Vector (Integer)))
              (Let
                _.21
                (VecSet (Var $ea.11) 0 (Int 1))
                (Atm (Var $ea.11)))))
          (If
            (Prim Eq ((Var x.1) (Int 0)))
            (Atm (Int 0))
            (Let
              $tmp.57
              (FunRef (Label g) 1)
              (Let
                $tmp.55
                (VecRef (Var v.1) 0)
                (Let
                  $tmp.56
                  (Prim Sub ((Var x.1) (Var $tmp.55)))
                  (Apply (Var $tmp.57) ((Var $tmp.56)))))))))))))
