(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.3
          (FunRef (Label id2) 1)
          (Let
            $tmp.1
            (FunRef (Label id) 1)
            (Let
              $tmp.2
              (Apply (Var $tmp.1) ((Int 42)))
              (Apply (Var $tmp.3) ((Var $tmp.2)))))))))
   (Def
     (Label id)
     ((args ((x.1 Integer)))
      (ret Integer)
      (body (Atm (Var x.1)))))
   (Def
     (Label id2)
     ((args ((y.1 Integer)))
      (ret Integer)
      (body (Atm (Var y.1)))))))
