(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.1
          (FunRef (Label id) 1)
          (Apply (Var $tmp.1) ((Int 42)))))))
   (Def
     (Label id)
     ((args ((x.1 Integer)))
      (ret Integer)
      (body (Prim Add ((Var x.1) (Int 1))))))))
