(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.3
          (FunRef (Label apply) 2)
          (Let
            $tmp.1
            (FunRef (Label inc) 1)
            (Let
              $tmp.2
              (Prim Read ())
              (Apply
                (Var $tmp.3)
                ((Var $tmp.1) (Var $tmp.2)))))))))
   (Def
     (Label apply)
     ((args
        ((f.1 (Function (Integer) Integer))
         (x.1 Integer)))
      (ret Integer)
      (body
        (Let
          $tmp.4
          (Apply (Var f.1) ((Var x.1)))
          (Apply (Var f.1) ((Var $tmp.4)))))))
   (Def
     (Label inc)
     ((args ((x.2 Integer)))
      (ret Integer)
      (body (Prim Add ((Var x.2) (Int 1))))))))
