(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          fun.1
          (FunRef (Label id) 1)
          (Apply (Var fun.1) ((Int 42)))))))
   (Def
     (Label id)
     ((args ((x.1 Integer)))
      (ret Integer)
      (body (Atm (Var x.1)))))))
