(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.3
          (FunRef (Label twice) 2)
          (Let
            $tmp.1
            (FunRef (Label add1) 1)
            (Let
              $tmp.2
              (Prim Read ())
              (Apply
                (Var $tmp.3)
                ((Var $tmp.1) (Var $tmp.2)))))))))
   (Def
     (Label add1)
     ((args ((y.1 Integer)))
      (ret Integer)
      (body (Prim Add ((Int 1) (Var y.1))))))
   (Def
     (Label twice)
     ((args
        ((f.1 (Function (Integer) Integer))
         (x.1 Integer)))
      (ret Integer)
      (body
        (Let
          $tmp.4
          (Apply (Var f.1) ((Var x.1)))
          (Let
            $tmp.5
            (Apply (Var f.1) ((Var x.1)))
            (Prim Add ((Var $tmp.4) (Var $tmp.5))))))))))
