(Program
  (If
    (If
      (Let
        $tmp.1
        (Prim Read ())
        (Let
          $tmp.2
          (Prim Add ((Int 1) (Var $tmp.1)))
          (Let
            $tmp.3
            (Prim Read ())
            (Prim Gt ((Var $tmp.2) (Var $tmp.3))))))
      (Let
        $tmp.4
        (Prim Read ())
        (Prim Lt ((Var $tmp.4) (Int 0))))
      (Atm (Bool false)))
    (Atm (Int 42))
    (Atm (Int 77))))
