(Program
  (Let
    $tmp.1
    (If
      (Let
        x.1
        (Prim Read ())
        (Prim Lt ((Int 0) (Var x.1))))
      (Atm (Int 41))
      (Let
        y.1
        (Prim Read ())
        (Prim Add ((Var y.1) (Int 7)))))
    (Prim Add ((Int 1) (Var $tmp.1)))))
