(Program
  (If
    (If
      (Let
        $tmp.1
        (Prim Read ())
        (Prim Eq ((Var $tmp.1) (Int 1))))
      (Atm (Bool true))
      (Atm (Bool false)))
    (Atm (Int 42))
    (Atm (Int 77))))
