(Program
  (Let
    x.1
    (Prim Read ())
    (Let
      y.1
      (Prim Read ())
      (Let
        z.1
        (If
          (Let
            $tmp.1
            (Prim Read ())
            (Prim Eq ((Var $tmp.1) (Int 0))))
          (Prim Add ((Var x.1) (Int 1)))
          (Prim Add ((Var y.1) (Int 2))))
        (Let
          $tmp.2
          (Prim Negate ((Var z.1)))
          (Prim Add ((Int 45) (Var $tmp.2))))))))
