(Program
  (Let
    x.1
    (Prim Read ())
    (Let
      y.1
      (Prim Read ())
      (Let
        z.1
        (Prim Read ())
        (Let
          w.1
          (Prim Add ((Var z.1) (Var z.1)))
          (Let
            $tmp.1
            (If
              (Prim Eq ((Var z.1) (Int 0)))
              (Atm (Var x.1))
              (Atm (Var y.1)))
            (Prim Add ((Var w.1) (Var $tmp.1)))))))))
