(Program
  (If
    (Let
      x.1
      (Atm (Int 1))
      (Let
        $tmp.1
        (Prim Read ())
        (Let
          $tmp.2
          (Prim Eq ((Var x.1) (Var $tmp.1)))
          (Prim Not ((Var $tmp.2))))))
    (Atm (Int 77))
    (Atm (Int 42))))
