(Program
  (If
    (If
      (Atm (Bool false))
      (Let
        $tmp.1
        (Prim Read ())
        (Prim Eq ((Var $tmp.1) (Int 42))))
      (Atm (Bool false)))
    (Atm (Int 777))
    (Atm (Int 42))))
