(Program
  (Let
    y.1
    (If
      (Atm (Bool true))
      (Prim Read ())
      (If
        (Let
          $tmp.1
          (Prim Read ())
          (Prim Eq ((Var $tmp.1) (Int 0))))
        (Atm (Int 77))
        (Let
          x.1
          (Prim Read ())
          (Prim Add ((Int 1) (Var x.1))))))
    (Prim Add ((Var y.1) (Int 2)))))
