(Program
  (Let
    x.1
    (Prim Read ())
    (Let
      y.1
      (Atm (Bool true))
      (If
        (Let
          $tmp.1
          (Prim Gt ((Var x.1) (Int 21)))
          (Prim Eq ((Var $tmp.1) (Var y.1))))
        (Atm (Int 42))
        (Atm (Int 0))))))
