(Program
  (If
    (If
      (Let
        $tmp.1
        (Prim Read ())
        (Prim Eq ((Var $tmp.1) (Int 1))))
      (Let
        $tmp.2
        (Prim Read ())
        (Prim Eq ((Var $tmp.2) (Int 0))))
      (Atm (Bool false)))
    (Prim Add ((Int 10) (Int 32)))
    (Prim Add ((Int 70) (Int 7)))))
