(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.1
          (FunRef (Label uhoh) 1)
          (Apply (Var $tmp.1) ((Int 42)))))))
   (Def
     (Label uhoh)
     ((args ((x.1 Integer)))
      (ret Integer)
      (body
        (If
          (Prim Eq ((Var x.1) (Int 0)))
          (Let
            $tmp.2
            (FunRef (Label uhoh) 1)
            (Apply (Var $tmp.2) ((Var x.1))))
          (Atm (Var x.1))))))))
