(Program
  ((Def
     (Label main)
     ((args ())
      (ret Integer)
      (body
        (Let
          $tmp.4
          (FunRef (Label fun) 6)
          (Let
            _.4
            (If
              (Let
                $tmp.1
                (GlobalVal free_ptr)
                (Let
                  $tmp.2
                  (Prim Add ((Var $tmp.1) (Int 32)))
                  (Let
                    $tmp.3
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
              (Atm Void)
              (Collect 32))
            (Let
              $ea.1
              (Allocate
                3
                (Vector (Integer Integer Integer)))
              (Let
                _.3
                (VecSet (Var $ea.1) 0 (Int 5))
                (Let
                  _.2
                  (VecSet (Var $ea.1) 1 (Int 5))
                  (Let
                    _.1
                    (VecSet (Var $ea.1) 2 (Int 7))
                    (Apply
                      (Var $tmp.4)
                      ((Int 5)
                       (Int 5)
                       (Int 5)
                       (Int 5)
                       (Int 5)
                       (Var $ea.1))))))))))))
   (Def
     (Label fun)
     ((args
        ((x1.1 Integer)
         (x2.1 Integer)
         (x3.1 Integer)
         (x4.1 Integer)
         (x5.1 Integer)
         ($tup.1
           (Vector (Integer Integer Integer)))))
      (ret Integer)
      (body
        (Let
          $tmp.5
          (VecRef (Var $tup.1) 0)
          (Let
            $tmp.6
            (VecRef (Var $tup.1) 1)
            (Let
              $tmp.7
              (VecRef (Var $tup.1) 2)
              (Let
                $tmp.8
                (Prim Add ((Var $tmp.6) (Var $tmp.7)))
                (Let
                  $tmp.9
                  (Prim Add ((Var $tmp.5) (Var $tmp.8)))
                  (Let
                    $tmp.10
                    (Prim Add ((Var x5.1) (Var $tmp.9)))
                    (Let
                      $tmp.11
                      (Prim Add ((Var x4.1) (Var $tmp.10)))
                      (Let
                        $tmp.12
                        (Prim Add ((Var x3.1) (Var $tmp.11)))
                        (Let
                          $tmp.13
                          (Prim Add ((Var x2.1) (Var $tmp.12)))
                          (Prim Add ((Var x1.1) (Var $tmp.13)))))))))))))))))
