(Program
  (Let
    x.1
    (Atm (Int 10))
    (Let
      y.1
      (Atm (Int 0))
      (Let
        $tmp.1
        (Begin
          ((SetBang y.1 (Prim Read ())))
          (Atm (Var x.1)))
        (Let
          $tmp.2
          (Begin
            ((SetBang x.1 (Prim Read ())))
            (Atm (Var y.1)))
          (Let
            $tmp.3
            (Prim Add ((Var $tmp.1) (Var $tmp.2)))
            (Let
              $tmp.4
              (Atm (Var x.1))
              (Prim Add ((Var $tmp.3) (Var $tmp.4))))))))))
