(Program
  (Let
    x.1
    (Prim Read ())
    (Begin
      ((While
         (Let
           $tmp.1
           (Atm (Var x.1))
           (Prim Gt ((Var $tmp.1) (Int 0))))
         (SetBang
           x.1
           (Let
             $tmp.2
             (Atm (Var x.1))
             (Prim Sub ((Var $tmp.2) (Int 2)))))))
      (Let
        $tmp.3
        (Atm (Var x.1))
        (Prim Add ((Var $tmp.3) (Int 42)))))))
