(Program
  (Let
    x.1
    (Atm (Int 42))
    (Let
      i.1
      (Atm (Int 2))
      (Begin
        ((While
           (Let
             $tmp.1
             (Atm (Var i.1))
             (Prim Lt ((Var $tmp.1) (Int 0))))
           (Begin
             ((SetBang
                x.1
                (Let
                  $tmp.2
                  (Atm (Var x.1))
                  (Prim Add ((Var $tmp.2) (Int 1))))))
             (SetBang
               i.1
               (Let
                 $tmp.3
                 (Atm (Var x.1))
                 (Prim Add ((Var $tmp.3) (Int 1))))))))
        (Atm (Var x.1))))))
