(Program
  (Let
    x.1
    (Prim Read ())
    (Let
      $tmp.1
      (Atm (Var x.1))
      (Let
        $tmp.2
        (Begin
          ((SetBang x.1 (Atm (Int 40))))
          (Atm (Var x.1)))
        (Prim Add ((Var $tmp.1) (Var $tmp.2)))))))
