(Program
  (Let
    x.1
    (Atm (Int 0))
    (Let
      y.1
      (SetBang x.1 (Atm (Int 1)))
      (Begin
        ((SetBang
           y.1
           (SetBang x.1 (Atm (Int 42)))))
        (Atm (Var x.1))))))
