(Program
  (Let
    sum.1
    (Atm (Int 0))
    (Let
      m.1
      (Prim Read ())
      (Let
        n.1
        (Prim Read ())
        (Let
          i.1
          (Atm (Int 1))
          (Begin
            ((While
               (Let
                 $tmp.1
                 (Atm (Var i.1))
                 (Prim Le ((Var $tmp.1) (Var m.1))))
               (Let
                 j.1
                 (Atm (Int 1))
                 (Begin
                   ((While
                      (Let
                        $tmp.2
                        (Atm (Var j.1))
                        (Prim Le ((Var $tmp.2) (Var n.1))))
                      (Begin
                        ((SetBang
                           sum.1
                           (Let
                             $tmp.3
                             (Atm (Var sum.1))
                             (Let
                               $tmp.4
                               (Atm (Var i.1))
                               (Let
                                 $tmp.5
                                 (Atm (Var j.1))
                                 (Let
                                   $tmp.6
                                   (Prim Add ((Var $tmp.4) (Var $tmp.5)))
                                   (Prim Add ((Var $tmp.3) (Var $tmp.6)))))))))
                        (SetBang
                          j.1
                          (Let
                            $tmp.7
                            (Atm (Var j.1))
                            (Prim Add ((Var $tmp.7) (Int 1))))))))
                   (SetBang
                     i.1
                     (Let
                       $tmp.8
                       (Atm (Var i.1))
                       (Prim Add ((Var $tmp.8) (Int 1)))))))))
            (Atm (Var sum.1))))))))
