(Program
  (Begin
    ((Let
       i.1
       (Atm (Int 2))
       (While
         (Let
           $tmp.1
           (Atm (Var i.1))
           (Prim Gt ((Var $tmp.1) (Int 0))))
         (SetBang
           i.1
           (Let
             $tmp.2
             (Atm (Var i.1))
             (Prim Sub ((Var $tmp.2) (Int 1))))))))
    (Atm (Int 42))))
