(Program
  (Let
    i.1
    (Atm (Int 5))
    (Begin
      ((While
         (Let
           $tmp.1
           (Atm (Var i.1))
           (Prim Gt ((Var $tmp.1) (Int 0))))
         (SetBang
           i.1
           (Let
             $tmp.2
             (Atm (Var i.1))
             (Prim Sub ((Var $tmp.2) (Int 1)))))))
      (Let
        $tmp.3
        (Atm (Var i.1))
        (Prim Add ((Var $tmp.3) (Int 42)))))))
