(Program
  (Let
    $tmp.1
    (Add (Int 1) (Int 1))
    (Let
      $tmp.2
      (Add (Int 1) (Int 1))
      (Let
        $tmp.3
        (Add (Var $tmp.1) (Var $tmp.2))
        (Let
          $tmp.4
          (Add (Int 1) (Int 1))
          (Let
            $tmp.5
            (Add (Int 1) (Int 1))
            (Let
              $tmp.6
              (Add (Var $tmp.4) (Var $tmp.5))
              (Let
                $tmp.7
                (Add (Var $tmp.3) (Var $tmp.6))
                (Let
                  $tmp.8
                  (Add (Int 1) (Int 1))
                  (Let
                    $tmp.9
                    (Add (Int 1) (Int 1))
                    (Let
                      $tmp.10
                      (Add (Var $tmp.8) (Var $tmp.9))
                      (Let
                        $tmp.11
                        (Add (Int 1) (Int 1))
                        (Let
                          $tmp.12
                          (Add (Int 1) (Int 1))
                          (Let
                            $tmp.13
                            (Add (Var $tmp.11) (Var $tmp.12))
                            (Let
                              $tmp.14
                              (Add (Var $tmp.10) (Var $tmp.13))
                              (Let
                                $tmp.15
                                (Add (Var $tmp.7) (Var $tmp.14))
                                (Let
                                  $tmp.16
                                  (Add (Int 1) (Int 1))
                                  (Let
                                    $tmp.17
                                    (Add (Int 1) (Int 1))
                                    (Let
                                      $tmp.18
                                      (Add (Var $tmp.16) (Var $tmp.17))
                                      (Let
                                        $tmp.19
                                        (Add (Int 1) (Int 1))
                                        (Let
                                          $tmp.20
                                          (Add (Int 1) (Int 1))
                                          (Let
                                            $tmp.21
                                            (Add (Var $tmp.19) (Var $tmp.20))
                                            (Let
                                              $tmp.22
                                              (Add (Var $tmp.18) (Var $tmp.21))
                                              (Let
                                                $tmp.23
                                                (Add (Int 1) (Int 1))
                                                (Let
                                                  $tmp.24
                                                  (Add (Int 1) (Int 1))
                                                  (Let
                                                    $tmp.25
                                                    (Add (Var $tmp.23) (Var $tmp.24))
                                                    (Let
                                                      $tmp.26
                                                      (Add (Int 1) (Int 1))
                                                      (Let
                                                        $tmp.27
                                                        (Add (Int 1) (Int 1))
                                                        (Let
                                                          $tmp.28
                                                          (Add (Var $tmp.26) (Var $tmp.27))
                                                          (Let
                                                            $tmp.29
                                                            (Add (Var $tmp.25) (Var $tmp.28))
                                                            (Let
                                                              $tmp.30
                                                              (Add (Var $tmp.22) (Var $tmp.29))
                                                              (Let
                                                                $tmp.31
                                                                (Add (Var $tmp.15) (Var $tmp.30))
                                                                (Add (Int 10) (Var $tmp.31))))))))))))))))))))))))))))))))))
