(Program
  (Let
    a.1
    (Atm (Int 42))
    (Let
      b.1
      (Atm (Var a.1))
      (Let
        c.1
        (Atm (Var b.1))
        (Let
          d.1
          (Atm (Var c.1))
          (Let
            e.1
            (Atm (Var d.1))
            (Let
              f.1
              (Atm (Var e.1))
              (Let
                g.1
                (Atm (Var f.1))
                (Let
                  h.1
                  (Atm (Var g.1))
                  (Let
                    i.1
                    (Atm (Var h.1))
                    (Let
                      j.1
                      (Atm (Var i.1))
                      (Let
                        k.1
                        (Atm (Var j.1))
                        (Let
                          l.1
                          (Atm (Var k.1))
                          (Let
                            m.1
                            (Atm (Var l.1))
                            (Let
                              n.1
                              (Atm (Var m.1))
                              (Let
                                o.1
                                (Atm (Var n.1))
                                (Let
                                  p.1
                                  (Atm (Var o.1))
                                  (Let
                                    q.1
                                    (Atm (Var p.1))
                                    (Let
                                      r.1
                                      (Atm (Var q.1))
                                      (Let
                                        s.1
                                        (Atm (Var r.1))
                                        (Atm (Var r.1))))))))))))))))))))))
