(Program
  (Let
    $tmp.1
    (Add (Int 1) (Int 1))
    (Let
      $tmp.2
      (Add (Int 1) (Var $tmp.1))
      (Let
        $tmp.3
        (Add (Int 1) (Var $tmp.2))
        (Let
          $tmp.4
          (Add (Int 1) (Var $tmp.3))
          (Let
            $tmp.5
            (Add (Int 1) (Var $tmp.4))
            (Let
              $tmp.6
              (Add (Int 1) (Var $tmp.5))
              (Let
                $tmp.7
                (Add (Int 1) (Var $tmp.6))
                (Let
                  $tmp.8
                  (Add (Int 1) (Var $tmp.7))
                  (Let
                    $tmp.9
                    (Add (Int 1) (Var $tmp.8))
                    (Let
                      $tmp.10
                      (Add (Int 1) (Var $tmp.9))
                      (Let
                        $tmp.11
                        (Add (Int 1) (Var $tmp.10))
                        (Let
                          $tmp.12
                          (Add (Int 1) (Var $tmp.11))
                          (Let
                            $tmp.13
                            (Add (Int 1) (Var $tmp.12))
                            (Let
                              $tmp.14
                              (Add (Int 1) (Var $tmp.13))
                              (Let
                                $tmp.15
                                (Add (Int 1) (Var $tmp.14))
                                (Let
                                  $tmp.16
                                  (Add (Int 1) (Var $tmp.15))
                                  (Let
                                    $tmp.17
                                    (Add (Int 1) (Var $tmp.16))
                                    (Let
                                      $tmp.18
                                      (Add (Int 1) (Var $tmp.17))
                                      (Let
                                        $tmp.19
                                        (Add (Int 1) (Var $tmp.18))
                                        (Let
                                          $tmp.20
                                          (Add (Int 1) (Var $tmp.19))
                                          (Let
                                            $tmp.21
                                            (Add (Int 1) (Var $tmp.20))
                                            (Let
                                              $tmp.22
                                              (Add (Int 1) (Var $tmp.21))
                                              (Let
                                                $tmp.23
                                                (Add (Int 1) (Var $tmp.22))
                                                (Let
                                                  $tmp.24
                                                  (Add (Int 1) (Var $tmp.23))
                                                  (Let
                                                    $tmp.25
                                                    (Add (Int 1) (Var $tmp.24))
                                                    (Let
                                                      $tmp.26
                                                      (Add (Int 1) (Var $tmp.25))
                                                      (Let
                                                        $tmp.27
                                                        (Add (Int 1) (Var $tmp.26))
                                                        (Let
                                                          $tmp.28
                                                          (Add (Int 1) (Var $tmp.27))
                                                          (Let
                                                            $tmp.29
                                                            (Add (Int 1) (Var $tmp.28))
                                                            (Let
                                                              $tmp.30
                                                              (Add (Int 1) (Var $tmp.29))
                                                              (Let
                                                                $tmp.31
                                                                (Add (Int 1) (Var $tmp.30))
                                                                (Let
                                                                  $tmp.32
                                                                  (Add (Int 1) (Var $tmp.31))
                                                                  (Let
                                                                    $tmp.33
                                                                    (Add (Int 1) (Var $tmp.32))
                                                                    (Let
                                                                      $tmp.34
                                                                      (Add (Int 1) (Var $tmp.33))
                                                                      (Let
                                                                        $tmp.35
                                                                        (Add (Int 1) (Var $tmp.34))
                                                                        (Let
                                                                          $tmp.36
                                                                          (Add (Int 1) (Var $tmp.35))
                                                                          (Let
                                                                            $tmp.37
                                                                            (Add (Int 1) (Var $tmp.36))
                                                                            (Let
                                                                              $tmp.38
                                                                              (Add (Int 1) (Var $tmp.37))
                                                                              (Let
                                                                                $tmp.39
                                                                                (Add (Int 1) (Var $tmp.38))
                                                                                (Let
                                                                                  $tmp.40
                                                                                  (Add (Int 1) (Var $tmp.39))
                                                                                  (Add (Int 1) (Var $tmp.40)))))))))))))))))))))))))))))))))))))))))))
