(Program
  (Let
    x.1
    (Atm (Int 30))
    (Let
      y.1
      Read
      (Let
        z.1
        Read
        (Let
          $tmp.1
          (Sub (Var z.1) (Var y.1))
          (Add (Var x.1) (Var $tmp.1)))))))
