(Program
  (Let
    v.1
    (Atm (Int 1))
    (Let
      w.1
      (Atm (Int 46))
      (Let
        x.1
        (Add (Var v.1) (Int 7))
        (Let
          y.1
          (Add (Int 4) (Var x.1))
          (Let
            z.1
            (Add (Var x.1) (Var w.1))
            (Let
              $tmp.1
              (Negate (Var y.1))
              (Add (Var z.1) (Var $tmp.1)))))))))
