(Program
  (Let
    $tmp.1
    (Add (Int 10) (Int 11))
    (Let
      $tmp.2
      (Negate (Int 4))
      (Let
        $tmp.3
        (Add (Int 25) (Var $tmp.2))
        (Sub (Var $tmp.1) (Var $tmp.3))))))
