(Program
  (Let
    a.1
    (Atm (Int 42))
    (Let
      b.1
      (Atm (Var a.1))
      (Let
        c.1
        (Atm (Var b.1))
        (Let
          d.1
          (Atm (Var c.1))
          (Atm (Var d.1)))))))
