(Program
  (Let
    v.1
    (Let
      _.3
      (If
        (Let
          $tmp.1
          (GlobalVal free_ptr)
          (Let
            $tmp.2
            (Prim Add ((Var $tmp.1) (Int 24)))
            (Let
              $tmp.3
              (GlobalVal fromspace_end)
              (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
        (Atm Void)
        (Collect 24))
      (Let
        $ea.1
        (Allocate 2 (Vector (Integer Integer)))
        (Let
          _.2
          (VecSet (Var $ea.1) 0 (Int 20))
          (Let
            _.1
            (VecSet (Var $ea.1) 1 (Int 22))
            (Atm (Var $ea.1))))))
    (Let
      $tmp.4
      (VecRef (Var v.1) 0)
      (Let
        $tmp.5
        (VecRef (Var v.1) 1)
        (Prim Add ((Var $tmp.4) (Var $tmp.5)))))))
