(Program
  (Let
    v1.1
    (Let
      _.2
      (If
        (Let
          $tmp.1
          (GlobalVal free_ptr)
          (Let
            $tmp.2
            (Prim Add ((Var $tmp.1) (Int 16)))
            (Let
              $tmp.3
              (GlobalVal fromspace_end)
              (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
        (Atm Void)
        (Collect 16))
      (Let
        $ea.1
        (Allocate 1 (Vector (Integer)))
        (Let
          _.1
          (VecSet (Var $ea.1) 0 (Int 0))
          (Atm (Var $ea.1)))))
    (Let
      v2.1
      (Let
        _.4
        (If
          (Let
            $tmp.4
            (GlobalVal free_ptr)
            (Let
              $tmp.5
              (Prim Add ((Var $tmp.4) (Int 16)))
              (Let
                $tmp.6
                (GlobalVal fromspace_end)
                (Prim Lt ((Var $tmp.5) (Var $tmp.6))))))
          (Atm Void)
          (Collect 16))
        (Let
          $ea.2
          (Allocate 1 (Vector (Integer)))
          (Let
            _.3
            (VecSet (Var $ea.2) 0 (Int 0))
            (Atm (Var $ea.2)))))
      (Let
        g1.1
        (Let
          _.10
          (If
            (Let
              $tmp.7
              (GlobalVal free_ptr)
              (Let
                $tmp.8
                (Prim Add ((Var $tmp.7) (Int 48)))
                (Let
                  $tmp.9
                  (GlobalVal fromspace_end)
                  (Prim Lt ((Var $tmp.8) (Var $tmp.9))))))
            (Atm Void)
            (Collect 48))
          (Let
            $ea.3
            (Allocate
              5
              (Vector
                (Integer
                  Integer
                  Integer
                  Integer
                  Integer)))
            (Let
              _.9
              (VecSet (Var $ea.3) 0 (Int 1))
              (Let
                _.8
                (VecSet (Var $ea.3) 1 (Int 2))
                (Let
                  _.7
                  (VecSet (Var $ea.3) 2 (Int 3))
                  (Let
                    _.6
                    (VecSet (Var $ea.3) 3 (Int 4))
                    (Let
                      _.5
                      (VecSet (Var $ea.3) 4 (Int 5))
                      (Atm (Var $ea.3)))))))))
        (Let
          g2.1
          (Let
            _.16
            (If
              (Let
                $tmp.10
                (GlobalVal free_ptr)
                (Let
                  $tmp.11
                  (Prim Add ((Var $tmp.10) (Int 48)))
                  (Let
                    $tmp.12
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.11) (Var $tmp.12))))))
              (Atm Void)
              (Collect 48))
            (Let
              $ea.4
              (Allocate
                5
                (Vector
                  ((Vector
                     (Integer
                       Integer
                       Integer
                       Integer
                       Integer))
                   Integer
                   Integer
                   Integer
                   Integer)))
              (Let
                _.15
                (VecSet (Var $ea.4) 0 (Var g1.1))
                (Let
                  _.14
                  (VecSet (Var $ea.4) 1 (Int 2))
                  (Let
                    _.13
                    (VecSet (Var $ea.4) 2 (Int 3))
                    (Let
                      _.12
                      (VecSet (Var $ea.4) 3 (Int 4))
                      (Let
                        _.11
                        (VecSet (Var $ea.4) 4 (Int 5))
                        (Atm (Var $ea.4)))))))))
          (Let
            g3.1
            (Let
              _.22
              (If
                (Let
                  $tmp.13
                  (GlobalVal free_ptr)
                  (Let
                    $tmp.14
                    (Prim Add ((Var $tmp.13) (Int 48)))
                    (Let
                      $tmp.15
                      (GlobalVal fromspace_end)
                      (Prim Lt ((Var $tmp.14) (Var $tmp.15))))))
                (Atm Void)
                (Collect 48))
              (Let
                $ea.5
                (Allocate
                  5
                  (Vector
                    (Integer
                      (Vector
                        ((Vector
                           (Integer
                             Integer
                             Integer
                             Integer
                             Integer))
                         Integer
                         Integer
                         Integer
                         Integer))
                      Integer
                      Integer
                      Integer)))
                (Let
                  _.21
                  (VecSet (Var $ea.5) 0 (Int 1))
                  (Let
                    _.20
                    (VecSet (Var $ea.5) 1 (Var g2.1))
                    (Let
                      _.19
                      (VecSet (Var $ea.5) 2 (Int 3))
                      (Let
                        _.18
                        (VecSet (Var $ea.5) 3 (Int 4))
                        (Let
                          _.17
                          (VecSet (Var $ea.5) 4 (Int 5))
                          (Atm (Var $ea.5)))))))))
            (Let
              g4.1
              (Let
                _.28
                (If
                  (Let
                    $tmp.16
                    (GlobalVal free_ptr)
                    (Let
                      $tmp.17
                      (Prim Add ((Var $tmp.16) (Int 48)))
                      (Let
                        $tmp.18
                        (GlobalVal fromspace_end)
                        (Prim Lt ((Var $tmp.17) (Var $tmp.18))))))
                  (Atm Void)
                  (Collect 48))
                (Let
                  $ea.6
                  (Allocate
                    5
                    (Vector
                      (Integer
                        Integer
                        (Vector
                          (Integer
                            (Vector
                              ((Vector
                                 (Integer
                                   Integer
                                   Integer
                                   Integer
                                   Integer))
                               Integer
                               Integer
                               Integer
                               Integer))
                            Integer
                            Integer
                            Integer))
                        Integer
                        Integer)))
                  (Let
                    _.27
                    (VecSet (Var $ea.6) 0 (Int 1))
                    (Let
                      _.26
                      (VecSet (Var $ea.6) 1 (Int 2))
                      (Let
                        _.25
                        (VecSet (Var $ea.6) 2 (Var g3.1))
                        (Let
                          _.24
                          (VecSet (Var $ea.6) 3 (Int 4))
                          (Let
                            _.23
                            (VecSet (Var $ea.6) 4 (Int 5))
                            (Atm (Var $ea.6)))))))))
              (Let
                g5.1
                (Let
                  _.34
                  (If
                    (Let
                      $tmp.19
                      (GlobalVal free_ptr)
                      (Let
                        $tmp.20
                        (Prim Add ((Var $tmp.19) (Int 48)))
                        (Let
                          $tmp.21
                          (GlobalVal fromspace_end)
                          (Prim Lt ((Var $tmp.20) (Var $tmp.21))))))
                    (Atm Void)
                    (Collect 48))
                  (Let
                    $ea.7
                    (Allocate
                      5
                      (Vector
                        (Integer
                          Integer
                          Integer
                          (Vector
                            (Integer
                              Integer
                              (Vector
                                (Integer
                                  (Vector
                                    ((Vector
                                       (Integer
                                         Integer
                                         Integer
                                         Integer
                                         Integer))
                                     Integer
                                     Integer
                                     Integer
                                     Integer))
                                  Integer
                                  Integer
                                  Integer))
                              Integer
                              Integer))
                          Integer)))
                    (Let
                      _.33
                      (VecSet (Var $ea.7) 0 (Int 1))
                      (Let
                        _.32
                        (VecSet (Var $ea.7) 1 (Int 2))
                        (Let
                          _.31
                          (VecSet (Var $ea.7) 2 (Int 3))
                          (Let
                            _.30
                            (VecSet (Var $ea.7) 3 (Var g4.1))
                            (Let
                              _.29
                              (VecSet (Var $ea.7) 4 (Int 5))
                              (Atm (Var $ea.7)))))))))
                (Let
                  g6.1
                  (Let
                    _.40
                    (If
                      (Let
                        $tmp.22
                        (GlobalVal free_ptr)
                        (Let
                          $tmp.23
                          (Prim Add ((Var $tmp.22) (Int 48)))
                          (Let
                            $tmp.24
                            (GlobalVal fromspace_end)
                            (Prim Lt ((Var $tmp.23) (Var $tmp.24))))))
                      (Atm Void)
                      (Collect 48))
                    (Let
                      $ea.8
                      (Allocate
                        5
                        (Vector
                          (Integer
                            Integer
                            Integer
                            Integer
                            (Vector
                              (Integer
                                Integer
                                Integer
                                (Vector
                                  (Integer
                                    Integer
                                    (Vector
                                      (Integer
                                        (Vector
                                          ((Vector
                                             (Integer
                                               Integer
                                               Integer
                                               Integer
                                               Integer))
                                           Integer
                                           Integer
                                           Integer
                                           Integer))
                                        Integer
                                        Integer
                                        Integer))
                                    Integer
                                    Integer))
                                Integer)))))
                      (Let
                        _.39
                        (VecSet (Var $ea.8) 0 (Int 1))
                        (Let
                          _.38
                          (VecSet (Var $ea.8) 1 (Int 2))
                          (Let
                            _.37
                            (VecSet (Var $ea.8) 2 (Int 3))
                            (Let
                              _.36
                              (VecSet (Var $ea.8) 3 (Int 4))
                              (Let
                                _.35
                                (VecSet (Var $ea.8) 4 (Var g5.1))
                                (Atm (Var $ea.8)))))))))
                  (Let
                    g7.1
                    (Let
                      _.46
                      (If
                        (Let
                          $tmp.25
                          (GlobalVal free_ptr)
                          (Let
                            $tmp.26
                            (Prim Add ((Var $tmp.25) (Int 48)))
                            (Let
                              $tmp.27
                              (GlobalVal fromspace_end)
                              (Prim Lt ((Var $tmp.26) (Var $tmp.27))))))
                        (Atm Void)
                        (Collect 48))
                      (Let
                        $ea.9
                        (Allocate
                          5
                          (Vector
                            (Integer
                              Integer
                              Integer
                              Integer
                              Integer)))
                        (Let
                          _.45
                          (VecSet (Var $ea.9) 0 (Int 1))
                          (Let
                            _.44
                            (VecSet (Var $ea.9) 1 (Int 2))
                            (Let
                              _.43
                              (VecSet (Var $ea.9) 2 (Int 3))
                              (Let
                                _.42
                                (VecSet (Var $ea.9) 3 (Int 4))
                                (Let
                                  _.41
                                  (VecSet (Var $ea.9) 4 (Int 5))
                                  (Atm (Var $ea.9)))))))))
                    (Let
                      g8.1
                      (Let
                        _.52
                        (If
                          (Let
                            $tmp.28
                            (GlobalVal free_ptr)
                            (Let
                              $tmp.29
                              (Prim Add ((Var $tmp.28) (Int 48)))
                              (Let
                                $tmp.30
                                (GlobalVal fromspace_end)
                                (Prim Lt ((Var $tmp.29) (Var $tmp.30))))))
                          (Atm Void)
                          (Collect 48))
                        (Let
                          $ea.10
                          (Allocate
                            5
                            (Vector
                              (Integer
                                Integer
                                Integer
                                Integer
                                Integer)))
                          (Let
                            _.51
                            (VecSet (Var $ea.10) 0 (Int 1))
                            (Let
                              _.50
                              (VecSet (Var $ea.10) 1 (Int 2))
                              (Let
                                _.49
                                (VecSet (Var $ea.10) 2 (Int 3))
                                (Let
                                  _.48
                                  (VecSet (Var $ea.10) 3 (Int 4))
                                  (Let
                                    _.47
                                    (VecSet (Var $ea.10) 4 (Int 5))
                                    (Atm (Var $ea.10)))))))))
                      (Let
                        g9.1
                        (Let
                          _.58
                          (If
                            (Let
                              $tmp.31
                              (GlobalVal free_ptr)
                              (Let
                                $tmp.32
                                (Prim Add ((Var $tmp.31) (Int 48)))
                                (Let
                                  $tmp.33
                                  (GlobalVal fromspace_end)
                                  (Prim Lt ((Var $tmp.32) (Var $tmp.33))))))
                            (Atm Void)
                            (Collect 48))
                          (Let
                            $ea.11
                            (Allocate
                              5
                              (Vector
                                (Integer
                                  Integer
                                  Integer
                                  Integer
                                  Integer)))
                            (Let
                              _.57
                              (VecSet (Var $ea.11) 0 (Int 1))
                              (Let
                                _.56
                                (VecSet (Var $ea.11) 1 (Int 2))
                                (Let
                                  _.55
                                  (VecSet (Var $ea.11) 2 (Int 3))
                                  (Let
                                    _.54
                                    (VecSet (Var $ea.11) 3 (Int 4))
                                    (Let
                                      _.53
                                      (VecSet (Var $ea.11) 4 (Int 5))
                                      (Atm (Var $ea.11)))))))))
                        (Let
                          g10.1
                          (Let
                            _.64
                            (If
                              (Let
                                $tmp.34
                                (GlobalVal free_ptr)
                                (Let
                                  $tmp.35
                                  (Prim Add ((Var $tmp.34) (Int 48)))
                                  (Let
                                    $tmp.36
                                    (GlobalVal fromspace_end)
                                    (Prim Lt ((Var $tmp.35) (Var $tmp.36))))))
                              (Atm Void)
                              (Collect 48))
                            (Let
                              $ea.12
                              (Allocate
                                5
                                (Vector
                                  (Integer
                                    Integer
                                    Integer
                                    Integer
                                    Integer)))
                              (Let
                                _.63
                                (VecSet (Var $ea.12) 0 (Int 1))
                                (Let
                                  _.62
                                  (VecSet (Var $ea.12) 1 (Int 2))
                                  (Let
                                    _.61
                                    (VecSet (Var $ea.12) 2 (Int 3))
                                    (Let
                                      _.60
                                      (VecSet (Var $ea.12) 3 (Int 4))
                                      (Let
                                        _.59
                                        (VecSet (Var $ea.12) 4 (Int 5))
                                        (Atm (Var $ea.12)))))))))
                          (Let
                            g11.1
                            (Let
                              _.70
                              (If
                                (Let
                                  $tmp.37
                                  (GlobalVal free_ptr)
                                  (Let
                                    $tmp.38
                                    (Prim Add ((Var $tmp.37) (Int 48)))
                                    (Let
                                      $tmp.39
                                      (GlobalVal fromspace_end)
                                      (Prim Lt ((Var $tmp.38) (Var $tmp.39))))))
                                (Atm Void)
                                (Collect 48))
                              (Let
                                $ea.13
                                (Allocate
                                  5
                                  (Vector
                                    (Integer
                                      Integer
                                      Integer
                                      Integer
                                      Integer)))
                                (Let
                                  _.69
                                  (VecSet (Var $ea.13) 0 (Int 1))
                                  (Let
                                    _.68
                                    (VecSet (Var $ea.13) 1 (Int 2))
                                    (Let
                                      _.67
                                      (VecSet (Var $ea.13) 2 (Int 3))
                                      (Let
                                        _.66
                                        (VecSet (Var $ea.13) 3 (Int 4))
                                        (Let
                                          _.65
                                          (VecSet (Var $ea.13) 4 (Int 5))
                                          (Atm (Var $ea.13)))))))))
                            (Let
                              g12.1
                              (Let
                                _.76
                                (If
                                  (Let
                                    $tmp.40
                                    (GlobalVal free_ptr)
                                    (Let
                                      $tmp.41
                                      (Prim Add ((Var $tmp.40) (Int 48)))
                                      (Let
                                        $tmp.42
                                        (GlobalVal fromspace_end)
                                        (Prim Lt ((Var $tmp.41) (Var $tmp.42))))))
                                  (Atm Void)
                                  (Collect 48))
                                (Let
                                  $ea.14
                                  (Allocate
                                    5
                                    (Vector
                                      (Integer
                                        Integer
                                        Integer
                                        Integer
                                        Integer)))
                                  (Let
                                    _.75
                                    (VecSet (Var $ea.14) 0 (Int 1))
                                    (Let
                                      _.74
                                      (VecSet (Var $ea.14) 1 (Int 2))
                                      (Let
                                        _.73
                                        (VecSet (Var $ea.14) 2 (Int 3))
                                        (Let
                                          _.72
                                          (VecSet (Var $ea.14) 3 (Int 4))
                                          (Let
                                            _.71
                                            (VecSet (Var $ea.14) 4 (Int 5))
                                            (Atm (Var $ea.14)))))))))
                              (Let
                                g13.1
                                (Let
                                  _.82
                                  (If
                                    (Let
                                      $tmp.43
                                      (GlobalVal free_ptr)
                                      (Let
                                        $tmp.44
                                        (Prim Add ((Var $tmp.43) (Int 48)))
                                        (Let
                                          $tmp.45
                                          (GlobalVal fromspace_end)
                                          (Prim Lt ((Var $tmp.44) (Var $tmp.45))))))
                                    (Atm Void)
                                    (Collect 48))
                                  (Let
                                    $ea.15
                                    (Allocate
                                      5
                                      (Vector
                                        (Integer
                                          Integer
                                          Integer
                                          Integer
                                          Integer)))
                                    (Let
                                      _.81
                                      (VecSet (Var $ea.15) 0 (Int 1))
                                      (Let
                                        _.80
                                        (VecSet (Var $ea.15) 1 (Int 2))
                                        (Let
                                          _.79
                                          (VecSet (Var $ea.15) 2 (Int 3))
                                          (Let
                                            _.78
                                            (VecSet (Var $ea.15) 3 (Int 4))
                                            (Let
                                              _.77
                                              (VecSet (Var $ea.15) 4 (Int 5))
                                              (Atm (Var $ea.15)))))))))
                                (Let
                                  g14.1
                                  (Let
                                    _.88
                                    (If
                                      (Let
                                        $tmp.46
                                        (GlobalVal free_ptr)
                                        (Let
                                          $tmp.47
                                          (Prim Add ((Var $tmp.46) (Int 48)))
                                          (Let
                                            $tmp.48
                                            (GlobalVal fromspace_end)
                                            (Prim Lt ((Var $tmp.47) (Var $tmp.48))))))
                                      (Atm Void)
                                      (Collect 48))
                                    (Let
                                      $ea.16
                                      (Allocate
                                        5
                                        (Vector
                                          (Integer
                                            Integer
                                            Integer
                                            Integer
                                            Integer)))
                                      (Let
                                        _.87
                                        (VecSet (Var $ea.16) 0 (Int 1))
                                        (Let
                                          _.86
                                          (VecSet (Var $ea.16) 1 (Int 2))
                                          (Let
                                            _.85
                                            (VecSet (Var $ea.16) 2 (Int 3))
                                            (Let
                                              _.84
                                              (VecSet (Var $ea.16) 3 (Int 4))
                                              (Let
                                                _.83
                                                (VecSet (Var $ea.16) 4 (Int 5))
                                                (Atm (Var $ea.16)))))))))
                                  (Let
                                    dummy.1
                                    (If
                                      (Let
                                        $tmp.49
                                        (Prim Read ())
                                        (Prim Eq ((Var $tmp.49) (Int 0))))
                                      (Let
                                        d2.1
                                        (VecSet (Var v1.1) 0 (Int 42))
                                        (Let
                                          $tmp.50
                                          (VecRef (Var v1.1) 0)
                                          (VecSet (Var v2.1) 0 (Var $tmp.50))))
                                      (VecSet (Var v2.1) 0 (Int 99)))
                                    (VecRef (Var v2.1) 0)))))))))))))))))))
