(Program
  (Let
    v0.1
    (Let
      _.1
      (If
        (Let
          $tmp.1
          (GlobalVal free_ptr)
          (Let
            $tmp.2
            (Prim Add ((Var $tmp.1) (Int 8)))
            (Let
              $tmp.3
              (GlobalVal fromspace_end)
              (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
        (Atm Void)
        (Collect 8))
      (Let
        $ea.1
        (Allocate 0 (Vector ()))
        (Atm (Var $ea.1))))
    (Atm (Int 42))))
