(Program
  (Let
    a.1
    (Let
      $ea.2
      (Let
        _.2
        (If
          (Let
            $tmp.1
            (GlobalVal free_ptr)
            (Let
              $tmp.2
              (Prim Add ((Var $tmp.1) (Int 16)))
              (Let
                $tmp.3
                (GlobalVal fromspace_end)
                (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
          (Atm Void)
          (Collect 16))
        (Let
          $ea.1
          (Allocate 1 (Vector (Integer)))
          (Let
            _.1
            (VecSet (Var $ea.1) 0 (Int 42))
            (Atm (Var $ea.1)))))
      (Let
        _.5
        (If
          (Let
            $tmp.4
            (GlobalVal free_ptr)
            (Let
              $tmp.5
              (Prim Add ((Var $tmp.4) (Int 24)))
              (Let
                $tmp.6
                (GlobalVal fromspace_end)
                (Prim Lt ((Var $tmp.5) (Var $tmp.6))))))
          (Atm Void)
          (Collect 24))
        (Let
          $ea.3
          (Allocate
            2
            (Vector ((Vector (Integer)) Integer)))
          (Let
            _.4
            (VecSet (Var $ea.3) 0 (Var $ea.2))
            (Let
              _.3
              (VecSet (Var $ea.3) 1 (Int 1))
              (Atm (Var $ea.3)))))))
    (Let
      b.1
      (VecRef (Var a.1) 0)
      (Let
        c.1
        (Atm (Var a.1))
        (Begin
          ((Let
             _.7
             (If
               (Let
                 $tmp.7
                 (GlobalVal free_ptr)
                 (Let
                   $tmp.8
                   (Prim Add ((Var $tmp.7) (Int 16)))
                   (Let
                     $tmp.9
                     (GlobalVal fromspace_end)
                     (Prim Lt ((Var $tmp.8) (Var $tmp.9))))))
               (Atm Void)
               (Collect 16))
             (Let
               $ea.4
               (Allocate 1 (Vector (Integer)))
               (Let
                 _.6
                 (VecSet (Var $ea.4) 0 (Int 1))
                 (VecSet (Var c.1) 0 (Var $ea.4))))))
          (VecRef (Var b.1) 0))))))
