(Program
  (Let
    v.1
    (Let
      _.2
      (If
        (Let
          $tmp.1
          (GlobalVal free_ptr)
          (Let
            $tmp.2
            (Prim Add ((Var $tmp.1) (Int 16)))
            (Let
              $tmp.3
              (GlobalVal fromspace_end)
              (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
        (Atm Void)
        (Collect 16))
      (Let
        $ea.1
        (Allocate 1 (Vector (Integer)))
        (Let
          _.1
          (VecSet (Var $ea.1) 0 (Int 0))
          (Atm (Var $ea.1)))))
    (Let
      void.1
      (VecSet (Var v.1) 0 (Int 42))
      (VecRef (Var v.1) 0))))
