(Program
  (Let
    dummy.1
    (Let
      _.2
      (If
        (Let
          $tmp.1
          (GlobalVal free_ptr)
          (Let
            $tmp.2
            (Prim Add ((Var $tmp.1) (Int 16)))
            (Let
              $tmp.3
              (GlobalVal fromspace_end)
              (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
        (Atm Void)
        (Collect 16))
      (Let
        $ea.1
        (Allocate 1 (Vector (Integer)))
        (Let
          _.1
          (VecSet (Var $ea.1) 0 (Int 0))
          (Atm (Var $ea.1)))))
    (Let
      f.1
      (Let
        $ea.6
        (Let
          $ea.3
          (Let
            _.4
            (If
              (Let
                $tmp.4
                (GlobalVal free_ptr)
                (Let
                  $tmp.5
                  (Prim Add ((Var $tmp.4) (Int 16)))
                  (Let
                    $tmp.6
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.5) (Var $tmp.6))))))
              (Atm Void)
              (Collect 16))
            (Let
              $ea.2
              (Allocate 1 (Vector (Boolean)))
              (Let
                _.3
                (VecSet (Var $ea.2) 0 (Bool true))
                (Atm (Var $ea.2)))))
          (Let
            _.8
            (If
              (Let
                $tmp.7
                (GlobalVal free_ptr)
                (Let
                  $tmp.8
                  (Prim Add ((Var $tmp.7) (Int 32)))
                  (Let
                    $tmp.9
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.8) (Var $tmp.9))))))
              (Atm Void)
              (Collect 32))
            (Let
              $ea.4
              (Allocate
                3
                (Vector
                  (Integer Integer (Vector (Boolean)))))
              (Let
                _.7
                (VecSet (Var $ea.4) 0 (Int 1))
                (Let
                  _.6
                  (VecSet (Var $ea.4) 1 (Int 42))
                  (Let
                    _.5
                    (VecSet (Var $ea.4) 2 (Var $ea.3))
                    (Atm (Var $ea.4))))))))
        (Let
          $ea.7
          (Let
            _.10
            (If
              (Let
                $tmp.10
                (GlobalVal free_ptr)
                (Let
                  $tmp.11
                  (Prim Add ((Var $tmp.10) (Int 16)))
                  (Let
                    $tmp.12
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.11) (Var $tmp.12))))))
              (Atm Void)
              (Collect 16))
            (Let
              $ea.5
              (Allocate
                1
                (Vector ((Vector (Integer)))))
              (Let
                _.9
                (VecSet (Var $ea.5) 0 (Var dummy.1))
                (Atm (Var $ea.5)))))
          (Let
            _.13
            (If
              (Let
                $tmp.13
                (GlobalVal free_ptr)
                (Let
                  $tmp.14
                  (Prim Add ((Var $tmp.13) (Int 24)))
                  (Let
                    $tmp.15
                    (GlobalVal fromspace_end)
                    (Prim Lt ((Var $tmp.14) (Var $tmp.15))))))
              (Atm Void)
              (Collect 24))
            (Let
              $ea.8
              (Allocate
                2
                (Vector
                  ((Vector
                     (Integer Integer (Vector (Boolean))))
                   (Vector ((Vector (Integer)))))))
              (Let
                _.12
                (VecSet (Var $ea.8) 0 (Var $ea.6))
                (Let
                  _.11
                  (VecSet (Var $ea.8) 1 (Var $ea.7))
                  (Atm (Var $ea.8))))))))
      (Let
        $tmp.16
        (VecRef (Var f.1) 0)
        (VecRef (Var $tmp.16) 1)))))
