(Program
  (Let
    t.1
    (Let
      $ea.2
      (Let
        _.2
        (If
          (Let
            $tmp.1
            (GlobalVal free_ptr)
            (Let
              $tmp.2
              (Prim Add ((Var $tmp.1) (Int 16)))
              (Let
                $tmp.3
                (GlobalVal fromspace_end)
                (Prim Lt ((Var $tmp.2) (Var $tmp.3))))))
          (Atm Void)
          (Collect 16))
        (Let
          $ea.1
          (Allocate 1 (Vector (Integer)))
          (Let
            _.1
            (VecSet (Var $ea.1) 0 (Int 2))
            (Atm (Var $ea.1)))))
      (Let
        _.6
        (If
          (Let
            $tmp.4
            (GlobalVal free_ptr)
            (Let
              $tmp.5
              (Prim Add ((Var $tmp.4) (Int 32)))
              (Let
                $tmp.6
                (GlobalVal fromspace_end)
                (Prim Lt ((Var $tmp.5) (Var $tmp.6))))))
          (Atm Void)
          (Collect 32))
        (Let
          $ea.3
          (Allocate
            3
            (Vector
              (Integer Boolean (Vector (Integer)))))
          (Let
            _.5
            (VecSet (Var $ea.3) 0 (Int 40))
            (Let
              _.4
              (VecSet (Var $ea.3) 1 (Bool true))
              (Let
                _.3
                (VecSet (Var $ea.3) 2 (Var $ea.2))
                (Atm (Var $ea.3))))))))
    (If
      (VecRef (Var t.1) 1)
      (Let
        $tmp.7
        (VecRef (Var t.1) 0)
        (Let
          $tmp.8
          (VecRef (Var t.1) 2)
          (Let
            $tmp.9
            (VecRef (Var $tmp.8) 0)
            (Prim Add ((Var $tmp.7) (Var $tmp.9))))))
      (Atm (Int 44)))))
